
/*Generales*/
.subtitulo{
    font-family: 'Pacifico', cursive;
    color: rgba(207, 45, 45, 1);
}
.subtitulo1{
     font-family: 'Outfit', sans-serif;
}
.subtitulo2{
    font-family: 'Pacifico', cursive;
    color: rgb(236, 207, 41);
}
.parrafo{
    font-family: 'Outfit', sans-serif;
}
/*Menú*/
.navbar-brand{
    border-radius: 50%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0.1em 0.1em rgb(236, 217, 41);
}
.navbar a{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

/*Carousel*/
.carousel-item{
    height: 25rem;
}
.primer-item{
    background-image: url(../assets/imagenes/image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.segundo-item{
    background-image: url(../assets/imagenes/image2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.tercer-item{
    background-image: url(../assets/imagenes/image3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.cuarto-item{
    background-image: url(../assets/imagenes/image4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.quinto-item{
    background-image: url(../assets/imagenes/image5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.frase-carousel{
    font-family: 'Pacifico', cursive;
    text-shadow: 0.1em 0.1em #000;
}
/*Sección ofertas*/
.ofertas{
    background-color: rgba(207, 45, 45, 1);
}
.titulo-oferta{
    text-shadow: 0.1em 0.1em #000;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-comprar{
    background-color: rgba(207, 45, 45, 1);
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    text-decoration: none;
    font-family:'Outfit', sans-serif;
}
.btn-comprar:hover{
    color: #fff;
    background-color: rgba(207, 45, 45, 0.774);
    transition: 0.5s;
}
.btn-oferta{
    color: rgba(207, 45, 45, 1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family:'Outfit', sans-serif;
    background-color: rgb(236, 207, 41);
}
.btn-oferta:hover{
    color: rgb(236, 207, 41);
    background-color: rgba(207, 45, 45, 1);
    transition: 0.5s;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Historia*/
.img-main{
    width: 300px;
}
.img-main img{
    width: 100%;
}
/*Comprar*/
.compra-online a{
    text-decoration: none;
    color: rgba(207, 45, 45, 1);
}
.compra-online a:hover{
    color: rgba(207, 45, 45, 0.774);
}
/*Tienda*/
.tienda{
    background-color: #000;
}
#cantidad{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(221, 235, 252);
    font-family: 'Outfit', sans-serif;
    padding: 5px 0;
}
.ver-carrito{
    width: 5%;
    cursor: pointer;
}

/*Modal content*/
.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    width: 90%;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    margin: 10px 0;
}

.modal-header-title{
    font-family: 'Pacifico', cursive;
    color: rgba(207, 45, 45, 1);
}

.btn-modal{
    cursor: pointer;
    color: rgba(207, 45, 45, 1);
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img{
    height: 120px;
    width: 120px;
}

.total-content{
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.eliminar-prod{
    cursor: pointer;
    color: rgba(207, 45, 45, 1);
}

.cantidad-carrito{
    height: 25px;
    width: 25px;
    background-color: rgba(207, 45, 45, 1);
    color: #fff;
    border-radius: 50%;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: none;
}
.ver-carrito{
    width: 40px;
    height: 40px;
}
.restar{
    color: rgb(236, 207, 41);
    background-color: #000;
    cursor: pointer;
}
.sumar{
    color: rgb(236, 207, 41);
    background-color: #000;
    cursor: pointer;
}

.btn-finalizar{
    background-color: #fff;
    color: rgba(207, 45, 45, 1);
    border-radius: 10px;
    border: 2px solid rgba(207, 45, 45, 1);
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
/*Contacto*/
input, textarea{
    border-radius: 5px;
    border: 2px solid rgba(156, 207, 45) ;
}
input::placeholder{
    font-family: 'Outfit', sans-serif;
}
textarea::placeholder{
    font-family: 'Outfit', sans-serif;
}
#msj-confirm{
    font-family: 'Outfit', sans-serif;
}
.btn-form{
    border: 2px solid rgba(156, 207, 45) ;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
/*Footer*/
.copyright{
    display: flex;
}
.texto{
    width: 90%;
}
/*Responsive*/
@media (max-width:560px){
    .cards{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .cards .card{
        width: 70%;
    }
}
@media (min-width:560px){
    .cards{
        flex-wrap: wrap;
        gap: 10px;
    }
    .cards .card{
        width: 45%;
    }
}
@media (min-width:768px){
    .cards .card{
        width: 20%;
    }
}
@media (min-width:600px){
    .datos-sitio{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}


    
